<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2013010821593059.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,338},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593116.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593137.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,400},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593141.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,338},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593149.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,282},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593171.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,282},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593252.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,282},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593266.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593273.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593332.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,226},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593362.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,226},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593391.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,226},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593531.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593552.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,170},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593646.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,170},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593654.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,170},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593656.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593673.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,114},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593675.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,114},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593686.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,114},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593711.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,58},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593733.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,58},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593749.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,58},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593761.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593856.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593870.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593883.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2013010821593951.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_test.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4d51dabaf5853f474fcb86fd0ca8601$</string>
            <key>textureFileName</key>
            <string>ui_test.pvr.ccz</string>
        </dict>
    </dict>
</plist>
