<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2013010821593059.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,542},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593116.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593137.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,914},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593141.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,790},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593149.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,666},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593171.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,542},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593252.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593266.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593273.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593332.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,434},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593362.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,434},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593391.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,434},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593531.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593552.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,326},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593646.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,326},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593654.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,326},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593656.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593673.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,218},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593675.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,218},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593686.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,218},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593711.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,110},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593733.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,110},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593749.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,110},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593761.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593856.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593870.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593883.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2013010821593951.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_test-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec9056d435382b73c27a9f0239dfd16b$</string>
            <key>textureFileName</key>
            <string>ui_test-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
